<!DOCTYPE html>
<html>
<head>
	<title>Institution Login</title>
</head>
<body>

<form method="POST">
  <label for="email">Office Email</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name"><br>
  <input type="submit" value="Add Email">
</form>

</body>
</html>