<!DOCTYPE html>
<html>
<head>
	<title>Institution Login</title>
</head>
<body>

<form method="POST">
  <label for="email">Email</label><br>
  <input type="text" id="email" name="email"><br>
  <input type="submit" value="Login">
</form>

</body>
</html>