{% extends 'base.jinja2' %}
{% block head %}
    <style>
        h1{
            text-align: center;
        }
    </style>
{% endblock %}
{% block title %}File Tracking System{% endblock %}

{% block content %}
<h1>File Tracking System</h1>

<img src="./../static/img/main_logo.png" class="img-fluid" alt="Responsive image">

{% endblock %}